* {
    box-sizing:border-box;
}

body {
    font-family: arial;
    background: #777;
}

header {
    padding: 40px;
    background: #ebebeb;
    color: #777;
    text-align: center;
    margin-bottom: 10px;
}

nav {
    padding: 40px;
    background: #ebebeb;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
}

section {
    float: left;
    width: 50%;
    height: auto;
    padding-top: 40px;
    border: 10px;
    background: #ebebeb;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

article {
    color: #ebebeb;
    padding: 10px;
    background: #777;
    text-align: center;
    margin: 10px;
    margin-top: 40px;
}

aside {
    float: left;
    width: 49%;
    height: 30%;
    padding: 50px;
    background: #ebebeb;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    background: #ebebeb;
    color: #777;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

p {
    background: #ebebeb;
    padding: 10px;
    color: #777;
    text-align: center;
    margin: 10px;
}

footer {
    content: "";
    clear: both;
    padding: 40px;
    background: #ebebeb;
    color: #777;
    text-align: center;
    margin-top: 10px;
}